*{
    margin:0%;
    padding:0%;
    font-family: "Roboto", sans-serif;
}


.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    font-size: 30px;
    padding: 10px;
}


.rps_img_container{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.user_rps_img, .com_rps_img{
    width: 150px;
    height: 150px;
}

.hidden{
    display: none;
}
.start_btn_container{
    display: flex;
    justify-content: center;
}

.rock_paper_scissors_btn{
    display:flex;
    justify-content: center;
    gap: 2em;
    font-size: 30px;
    font-weight: 500;
}
.rock_btn{
    font-family: "Roboto", sans-serif;
    background-color: aquamarine;
    font-size: 24px;
    font-weight: 900;
}